<mat-card>
    <mat-card-header>
        <mat-card-title>Support US</mat-card-title>
    </mat-card-header>
    <mat-list role="list">
        <p>
            Kahlar has also been involved in multiple fundraising efforts to help those in need and has contributed
            funds to:
        </p>
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>chevron_right</mat-icon>Amphan victims in Kolkata - India
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>chevron_right</mat-icon>COVID-19 affected people in Dhaka - Bangladesh
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-icon mat-list-icon>chevron_right</mat-icon>Foodbanks in DC, MD, and VA - USA
        </mat-list-item>
    </mat-list>

    <mat-card-content>
        Kahlar is tax exempt under section 501(c)(3) of the IRS as a non-profit organization. Your fully tax-deductible
        donation to Kahlar is vital in ensuring the organization fulfills its mission and continues to grow. Your
        donation will directly help arrange for future quality concerts and workshops as well as providing help to those
        in need.
        <p>
            If you would like to send a check, please make your check payable to " Kahlar Inc.", and mail to: &nbsp;
            Technuf,
            40 W Gude Drive, Suite 220<br>
            Rockville, Maryland 20850<br>
            USA<br>

            You can also send your payment via <a href="https://www.paypal.me/KahlarInc" target="_blank">Paypal</a> to
            us&nbsp;<br>
        </p>
    </mat-card-content>
    <mat-card-footer>
        <p>
            Alternatively you can donate online by clicking the link below:<br>
            <a href="#!/proposals">Online payment</a>
        </p>
    </mat-card-footer>