main {
    padding: 10px;
}
mat-toolbar {
    height:90x;
}
.mat-toolbar{
  background: #000000;
  color: #fff;
}
  .footer-element {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 2 2 auto;
  }