
<footer fxFlexoffset="auto">
<div class="footer-element">
<mat-toolbar>
  <mat-toolbar>
    <span class="dropdown">Copyright © 2020 Kahlar - Inc.</span>
  </mat-toolbar>
  <mat-toolbar>
    <span class="dropdown"><a href="#!/inpersonclass" id="workBtn" ng-class="{activeSmall:part == 'about'}" ng-mouseover="hoverEdit=true" ng-mouseleave="hoverEdit=false">Online Payment</a></span>
  </mat-toolbar>
  <mat-toolbar>
    <span class="dropdown"><a href="https://www.facebook.com/kahlardc/" target="”_blank”" id="workBtn" ng-class="{activeSmall:part == 'about'}" ng-mouseover="hoverEdit=true" ng-mouseleave="hoverEdit=false"><img width="50" height="50" src="../../../assets/facebook.png"></a></span>
  </mat-toolbar>
  <mat-toolbar>
    <span class="dropdown"><a href="https://www.youtube.com/channel/UChNc5X5t_FVTIkjEmts21iQ" target="”_blank”" id="workBtn" ng-class="{activeSmall:part == 'about'}" ng-mouseover="hoverEdit=true" ng-mouseleave="hoverEdit=false"><img width="50" height="50" src="../../../assets/youtube.png"></a></span>
  </mat-toolbar>
</mat-toolbar>
</div>
</footer>