main {
    padding: 10px;
}
mat-toolbar {
    height:90x;
}
.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
  }
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */

  }