<mat-toolbar color="primary">
  <button mat-button routerLink="/content">
    <span class="fill-remaining-space"><img width="100" height="100" src="assets/kahlar.png"></span>
  </button>
  <span class="fill-remaining-space">
    <button mat-button [matMenuTriggerFor]="aboutusmenu" #aboutusmenuTrigger="matMenuTrigger"
      (mouseover)="aboutusmenuTrigger.openMenu()" yPosition="below" class="dropdown">About US
    </button>
    <mat-menu #aboutusmenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="aboutusmenuTrigger.closeMenu()">
        <button mat-menu-item class="dopdown-content">
          <mat-icon>home</mat-icon>
          <span routerLink="/education">Introduction</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span routerLink="/content">Board</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span routerLink="/aboutus">Faculty</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Guest Faculty</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Guest Performers</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Students</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Membership</span>
        </button>
      </span>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="educationmenu" #educationmenuTrigger="matMenuTrigger"
      (mouseover)="educationmenuTrigger.openMenu()" yPosition="below">Education

    </button>
    <mat-menu #educationmenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="educationmenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="/education">Curriculum</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>In-person Classes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Online Classes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Workshop</span>
        </button>
      </span>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="performancemenu" #performancemenuTrigger="matMenuTrigger"
      (mouseover)="performancemenuTrigger.openMenu()" yPosition="below">Events
    </button>
    <mat-menu #performancemenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="performancemenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Past Performances</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Upcoming Performances</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Fundraisers</span>
        </button>
      </span>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="gallerymenu" #gallerymenuTrigger="matMenuTrigger"
      (mouseover)="gallerymenuTrigger.openMenu()" yPosition="below">Gallery

    </button>
    <mat-menu #gallerymenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="gallerymenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Photos</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Videos</span>
        </button>
      </span>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="othermenu" #othermenuTrigger="matMenuTrigger"
      (mouseover)="othermenuTrigger.openMenu()" yPosition="below">Other
    </button>
    <mat-menu #othermenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="othermenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Support US</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Proposals</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Store</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Online Payment</span>
        </button>
      </span>
    </mat-menu>
  </span>
</mat-toolbar>