
  <mat-toolbar color="primary">


    </button>
    <mat-menu #gallerymenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="gallerymenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Photos</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Videos</span>
        </button>
      </span>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="othermenu" #othermenuTrigger="matMenuTrigger"
      (mouseover)="othermenuTrigger.openMenu()" yPosition="below">Other
    </button>
    <mat-menu #othermenu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="othermenuTrigger.closeMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Support US</span>
        </button>
        <button mat-menu-item>
          <mat-icon>people_outline</mat-icon>
          <span>Proposals</span>
        </button>
        <button mat-menu-item>
          <mat-icon>videocam</mat-icon>
          <span>Store</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Online Payment</span>
        </button>
      </span>
    </mat-menu>
    </span>
  </mat-toolbar>