<mat-card>

  <mat-card-content>
  <p>
    Dakshinee in Kolkata is music school that was founded by Mr. Subho GuhaThakurta. A few graduates of Dakshinee
    started a small organization called Kahlar, which means white lotus, on which Devi Saraswati is seated. The
    significance of it was to remind people that music is an institution of worshipping knowledge and learning that
    embodies Devi Saraswati, in Indian mythology.
    </p>
    <p>
      Gradually membership of Kahlar grew to a large number with ex-students of other music institutions like
      Gitabitan and Rabindra Bharati University of Kolkata.
    </p>
    <p>
      Kahlar was mainly interested to advance their member’s education in Rabindrasangeet and classical music. Mr.
      Subinoy Roy, Ms. Malati Ghosal, Mr. Ramesh Banerjee, and Mr. Ashoktaru Banerjee were teachers of Kahlar and
      music lessons were held in Brahmo Samaj of Kolkata. Kahlar also held monthly musical soiree of Rabindrasangeet
      with guest artists as Kanika Banerjee, Swapan Gupta, Bandana Sinha, Sumitra Sen and other reputed
      Rabindrasangeet singers in late 60’s. Kahlar produced a dance drama “shapmochan” in 1967 then performed in
      Calcutta Radio for jubo-Bharati (young artistes). In 1976, Kahlar presented in Academy of Fine arts, a musical
      based on Rabindrasangeet and its roots in Hindustani Classical music. It was a novel concept then, presented
      with raga based Rabindrasangeet along with the original ragas in vocal and sitar recitals.
    </p>
    <p>
      One of the founders of Kahlar was Mr. Soumyendu Guha who migrated to USA in 1969 for higher studies from Indiana
      University, Bloomington, Indiana. After getting his PhD in physics, he went back to Kolkata in 1975 and again
      joined the Kahlar group. Dr. Guha decided to return to the States in USA after 1976 and has been living in the
      state of Maryland since 1980. He opened a school in 1990 teaching Rabindrasangeet to local Bengali community
      free of charge. In the past 30 years, many students have joined and left, and Kahlar became a non-profit
      organization in 2001.
    </p>
    <p>
      Our current mission includes teaching Rabindrasangeet to students weekly. Teachers are from Kolkata and USA and
      online classes are available.<br>
      Kahlar has also been involved in multiple fundraising efforts to help those in need.
    </p>
  </mat-card-content>
  <mat-card-footer>
    <p>
        If you are interested to know more, please feel free to <a href="#">Contact Us</a>
    </p>
  </mat-card-footer>
</mat-card>